* {
  font-family: 'Outfit', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

code {
}
